.question {
	text-align: center;
	.answer {
		margin: 1rem 0;
	}
	.answer-or {
		position: absolute;
		left: 49%;
		width: 50px;
		border: solid 1px;
		border-radius: 81px;
		padding: 0.7rem;
		z-index: 10000000000000000;
		background: #fff;
		top: 21.5%;
	}
	img.author-image {
		width: 60px;
		border-radius: 60px;
	}
}
