@import "../../styles/variables";
@import "../../styles/mixins";

.dashboard-cta {
	.card {
		min-height: $space-xxmega;
		background-color: $primary-dark !important;
		color: $white !important;
		border-radius: $space-small !important;
		h4 {
			text-align: center;
			text-transform: capitalize;
			margin-top: $space-lrg;
		}
		img {
			width: 100%;
			float: none;
			margin: auto;
		}
	}
}