@import "../../styles/variables";

.sidebar {
	float: right;
	border: 1px solid $primary-gray;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 24, 97, 0.37);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 24, 97, 0.37);
	box-shadow: 0px 0px 5px 1px rgba(0, 24, 97, 0.37);
	.sidebar-posts {
		margin: 0 0 20px;
	}
}
