@import "../../styles/variables";
@import "../../styles/mixins";

nav.navbar {
	padding: 0;
	margin-bottom: $space-xlrg;
	.appbar{
	    background-color: $primary !important;
	}
	h1 {
		text-align: center;
	}
	.drawer {
		div {
			&:nth-child(3) {
				top: auto !important;
			}
			&:nth-child(2) {
				margin-top: 64px;
			}
		}
	}
	a.links {
		text-transform: capitalize;
		@include nav-links()
	}
}
