@import "variables";

// sample mixins - remove the outline-button mixin later, use as sample

@mixin nav-links() {
  div {
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

@mixin svg-icon($width: $space-xxlrg, $height: $space-xxlrg, $color: $white) {
  margin: auto;
  display: block !important;
  width: $width !important;
  height: $height !important;
  color: $color !important;
}